@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);

:root {
    --link: #555351;
    --title: #1C1917;
    --white: #fff;
    --gr: #C0E444;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    cursor: pointer;
}


.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* =================================== Header start =============================== */

.header__nav {
    width: 100%;
    padding: 20px 0;

}

.header__nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__link {
    font-size: 20px;
    color: var(--link);
    padding: 15px 15px;
    margin: 0 10px;
    transition: .6s;
}

.header__link:hover {
    background: #C0E444;
    border-radius: 100px;
    color: var(--white);
}

.header__nav-tel {
    color: var(--link);
    font-size: 20px;
}

.header__nav-tel i {
    margin-right: 10px;
}

.header__content .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    font-weight: 600;
    font-size: 61px;
    line-height: 83px;
    display: flex;
    align-items: flex-end;

    color: #1C1917;
}

.header__txt {
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    display: flex;
    align-items: flex-end;
    color: #8D8C8B;

}

.header__content_link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin-top: 50px;
    background: #1C1917;
    border-radius: 100px;
    width: 237px;
    height: 75px;
}

.header__content_link i {
    margin-left: 15px;
}

.header__content-image {
    width: 100%;
}
.header__content_link:hover{
    transition: .6s;
    background: #FFFFFF;
    border: 1px solid #555351;
    color: #555351;
}
.header__content-image img {
    width: 100%;
}

.header__content-image-bottom {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 40px;

}

.header__content-image-bottom span {
    background: #F2F3F7;
    border-radius: 100px;
    padding: 16px 32px;
    cursor: pointer;

}


/* ====================================== Main start ================================ */


/* ------------------------------ Advantages start ------------------------------ */

.advantages__title {
    font-size: 40px;
    color: var(--title);
    margin-bottom: 48px;
    font-weight: 600;
    margin-top: 100px;
}

.advantages__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.advantages__card {
    max-width: 379px;
    width: 100%;
    border-radius: 100px;
    background: #F2F3F7;
    min-height: 379px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    overflow: hidden;


}
.advantages__card-texts p{
    font-weight: 400;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: flex-end;

color: #555351;

    

}
.advantages__card-texts h3{
    font-weight: 700;
font-size: 25px;
line-height: 34px;
/* identical to box height */

display: flex;
align-items: flex-end;

/* Accent Color/Black 100 */

color: #1C1917;

}

/* .advantages__card::before {
    content: url(/img/Rectangle\ 5.png);
    position: absolute;
    top: 0;
    right: 0;
} */
.advantages__card img{
    position: absolute;
    top: 0;
    right: 0;
}
.advantages__cards2 img{
    position: absolute;
    top: 151px;
    right: 0;
}
.advantages__cards2 {
    flex-direction: column;
    justify-content: space-between;
}



/*--------------------------------------    course    ---------------------------*/
.course {
    margin-top: 100px;
}

.course .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;


}


.course_content_box {
    max-width: 790px;
    width: 100%;
    height: 560px;
    border-radius: 100px;
    padding: 56px;
    background: var(--gr);
    color: var(--white);
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;

}
.course_content_box a:hover{
    color: #555351;
    background-color: #F9F9FB;
}

.course_content img {
    position: absolute;
    bottom: 0;
    right: 0;
}
.course_content_boxs1 img{
    position: absolute;
    bottom: 0;
    left: 0;
}
.course_content_boxs1{
    display: flex;
    align-items: end;
    background: #2DCACC;
    

}
.course_content_box_color{
    background: #7F71B1;
}

.course_content_box a {
    margin-top: auto;

}

.course_title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.course_title h2 {
    font-weight: 600;
    font-size: 49px;
    line-height: 67px;
    color: #1C1917;
    margin-bottom: 48px;

}

.course_title button {
    background: #F2F3F7;
    border-radius: 100px;
    padding: 16px 32px;
    border: 0;
    margin: 12px 0;
    color: #555351;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
}

#course_btns {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #8D8C8B;
}

.course_content h2 {
    font-weight: 600;
    font-size: 31px;
    line-height: 42px;
    color: #FFFFFF;
}

.course_content p {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    margin-top: 24px;
    max-width: 346px;
    width: 100%;
}

.course_content a {
    background: white;
    width: 242px;
    color: #555351;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 32px;
    border-radius: 100px;

}

.course_content a i {
    margin-left: 10px;

}


/*-------------------------------------   swiper   ----------------------------------*/

.swiper {
    width: 100%;
    margin-top: 100px;
}

.swiper img {
    width: 100%;
}







/* ------------------------------------   certificate  ---------------- */


.certificate .container h4 {
    margin-top: 96px;
    font-weight: 600;
    font-size: 49px;
    line-height: 67px;
    display: flex;
    align-items: flex-end;
    color: #1C1917;
}

.certificate_box {
    margin-top: 48px;
    background: #F2F3F7;
    border-radius: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 56px;
    height: 413px;

}

.certificate_box h3 {
    font-weight: 600;
    font-size: 31px;
    line-height: 42px;
    display: flex;
    align-items: flex-end;
    color: #555351;
}
.certificate_content_title a:hover{
    background: #FFFFFF;
border: 1px solid #555351;
transition: .6s;

color: #555351;

}
.certificate_box a {
    background: #1C1917;
    border-radius: 100px;
    padding: 24px 32px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    border: 1px solid #555351;
}
.certificate_content_title p{
    font-weight: 400;
font-size: 25px;
line-height: 34px;
display: flex;
align-items: flex-end;
margin-top: 16px;
color: #555351;

}
.certificate_content_title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    max-width: 583px;
    width: 100%;
    height: 303px;

}

.certificate_box a i {
    margin-left: 16px;
    

}

.certificate_content_card {
    border-radius: 100px;
    height: 224px;
}

.certificate_content_card img {
    max-width: 478px; 
    width: 100%;
height: 301px;
}










/*---------------------------------karta----------------------------------*/
.karta {
    margin-top: 100px;
}

.karta img {
    border-radius: 100px;
    width: 100%;


}



/*--------------------------------footer---------------------------------*/
.footer_content {
    margin-top: 100px;
    height: 491px;
    border-radius: 100px;
    padding: 52px;
    position: relative;
    overflow: hidden;
    margin-bottom: -140px;


}

.footer_content {
    display: flex;
    justify-content: space-between;
    background: #F2F3F7;
}

.footer_content_text {
    max-width: 416px;

}

.footer_content_text h4 {
    font-weight: 400;
    font-size: 39px;
    line-height: 53px;
    color: #1C1917;
    margin-bottom: 12px;

}

.footer_content_text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #8D8C8B;
}

.footer_content_text .flex {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 24px;


}

.footer_content_text input {
    background: #FAFAFD;
    border: 0.5px solid #C6C5C5;
    outline: none;
    border-radius: 100px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #555351;
    padding: 24px 5px 24px 23px;
    width: 100%;
    margin-top: 12px;
}

.footer_content_text button {
    background: #C0E444;
    border-radius: 100px;
    padding: 24px 36px;
    width: 100%;
    margin-top: 10px;
    border: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;

}

.footer_content_text button:hover {
    background: #D4EC82;
}

.footer_content img {
    position: absolute;
    max-width: 473px;
    width: 100%;
    top: 91px;
    left: 0;
}

.footer-icon {
    width: 100%;
    border-radius: 100px 100px 0 0;
    background: var(--gr);
    min-height: 426px;

}

.footer-icon .container {
    padding-top: 200px;

}


.footer-icon_top {
    display: flex;
    color: var(--white);

}

.apps {
    width: 70%;
}

.socials a {
    width: 36px;
    height: 36px;
    background: var(--white);
    color: var(--gr);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

.socials a:hover {
    opacity: .5;
}

.footer-icon_top h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 10px;
}

.footer-icon_top p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.footer_numbers {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
    display: block;
}

.footer-icon_line {
    width: 100%;
    margin-top: 50px;
    border-bottom: 1px solid white;
}

.footer-icon_end {
    margin-top: 10px;
}

.footer-icon_end p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #FFFFFF;
}


/*=====================================Sertifiqat.html=======================================*/
.verification_content{
    height: 471px;

background: #F2F3F7;
border-radius: 100px;
margin-top: 64px;
padding: 56px;


}
.verification_content_text{
    max-width: 383px;
    width: 100%;
    margin-left: 40px;
    flex-direction: column;

}
.verification_content_left img{
    width: 100%;
    max-width: 527px;
    height: 359px;
}
.verification_content_text h1{
    font-weight: 600;
font-size: 39px;
line-height: 53px;

/* Accent Color/Black 100 */

color: #1C1917;

}
.verification_content{
    align-items: start;
}
.verification_content_text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
margin: 16px 0 32px;    
    color: #555351;
    
}
.verification_content_text input{
    font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #555351;
background: #FAFAFD;
border: 0.5px solid #C6C5C5;
border-radius: 100px;
padding: 24px 25px;
width: 100%;
}
.verification_content_texts{
    font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */
margin-top: 10px;
text-align: center;
cursor: pointer;

/* Accent Color/Black 50 */

color: #8D8C8B;
    
}
.verification_content_text i{
    margin-left: 8px;
}
.verification_content_textp{
    margin: 0px !important;

}
.verification_content_text_down {
    padding: 24px 36px;
background: #C0E444;
border-radius: 100px;
margin-top: 20px;
display: block;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
color: white;
}
.verification_content_text a:hover{
    opacity: .5;
}










/*===================================================end========================================*/





















@media(min-width: 1399.7px) {
    .container{
    max-width: 1320px;
    width: 100%;
    }
   
}

@media(max-width: 1399.7px) {
    .advantages__cards {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px;
    }
}



@media(max-width: 991.8px) {
    .header__nav-tel {
        display: none;
    }

    .header__list {
        display: none;
    }

    .header__content .container {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .header__content-image {
        margin-top: 50px;
    }

    .advantages__cards {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
    }
  
    .header__content-image img{
        border-radius: 60px;
    }
    .course .container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }


    .footer_content {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: column;
        height: 887px;
    }

    .footer_content img {
        top: 0;
        left: 50%;
        transform: translate(-50%);
        max-width: 400px;


    }
    .apps{
        /* flex-wrap: wrap; */
    }
    .course_title{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
        display: block;
    }
    .verification_content{
        flex-direction: column;
        height: 800px;
        text-align: center;
        align-items: center;
        border-radius: 66px;
        padding: 24px;

    }
    
}

 @media (max-width: 768px) {
    .header__nav-tel {
        display: none;
    }

    .header__list {
        display: none;
    }
   
    
    .advantages__cards {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
    }
    .course_content_box img{
        max-width: 300px;
        width: 100%;

    }  
    .course_content_box a{
        margin-top: 40px;
    }
    .course_content_box{
        min-height: 740px;
        flex-direction: column;
        padding: 32px;
        border-radius: 50px;
    }  
    .certificate_box{
        flex-direction: column-reverse;
        height: 600px;
        padding: 24px;
        border-radius: 50px;
        align-items: center;
        justify-content: center;

    }
    
.certificate_content_card img {
    width: 100%;
    height: 201px;
}

.certificate_content_title {
    align-items: center;
    justify-content: center;
}
.apps{
    margin-top: 40px;
    gap: 30px;
    flex-direction: column;
}
.footer-icon_top {
    flex-direction: column;
}
.certificate_content_title div{
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.advantages__card{
    border-radius: 60px;
}
.karta img{
    border-radius: 60px;
}
.footer_content{
    border-radius: 60px;
}
.footer-icon {
    border-radius:70    px 70px 0px 0px; ;
}
.footer-icon_end{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.adress{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-icon_end p{
    margin: 10px 0;
    text-align: center;
}




 }
/* @media (max-width: 576px) {}  */